@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  background-image: url(../img/body-bg.png);
  height: 100%;
  width: 100%;
  /* font-size: small; */
  font-family: 'Poppins', sans-serif;
  color: #222222;
  padding: 0px, 25px, 0px 25px;
}

    
#mainhero {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
  
    height: 800px;
    width: 100%;
    } 

.topnav-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: small;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;  
}

#hero-text  {
    position: relative;
    height: 112px;
    left: 15%;
    top: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 56px;
    
    color: #FFFFFF ;
} 


#ad-video {
    position: relative;
    background-image: url(../img/VSI.png);
    width: 100%;
    height: 500px;      
}
#ad-video-text {
    position: relative;
    left: 0%;
    right: 0%;
    top: 25px;
    bottom: 2.33%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 456px;
    line-height: 42px;
    
    color: #FFFFFF;
} 

.cd {
    transition: all 1s;
}
.cd:hover {
    transform: scale(1.1);
    box-shadow: black;
}
#reviews {
    font-size: small;
}
#appointment-hero {
    position: relative;
    background-image: url(../img/bgAppointment.png);
    width: 100%;
    height: 800px;
}
#form-holder {
    position: relative;
    background-color: #FFFFFF;
    top: 43px;
    padding: 4%;
}
#stat {
    position: relative;
    color: #FFFFFF;
    width: 324px;
    height: 235px; 
    top: 100px;  
}
#counting {
    color: red;
    font-size: 500%;
    font-weight: bold;
}

#our-impact-hero {
    position: relative;
    background-image: url(../img/bgAppointment.png);
    width: 100%;
    height: 608px;
}
#impact-heading {
    position: relative;
    color: #FFFFFF;
    left: 100px;
    top: 100px;
}
#impact-data {
    position: relative;
    width: 100%;
    top: 200px;
    color: #FFFFFF;
    left: 3%;
    font-size: small;
}
.impact-ratings {
    color: red;
    font-size: 150%;
    font-weight: bold;
}
footer {
    position: relative;
    top: -1080px;
    background-color: #e6e6ff; 
    top: 114px;
    padding-top: 2rem; 
    font-size: small;
}
#copyright {
    position: relative;
    height: 35px;
    width: 100%;
    color: #FFFFFF;
    background-color: rgb(26, 26, 104);
}

.padding {
  padding-bottom: 2rem;
}

.social a {
  font-size: 1.5em;
  padding: 0.5em;
}
.fa-facebook,
.fa-twitter, 
.fa-instagram,
.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5
}

.lh:hover {
  color: red
}




/*---Media Queries --*/
@media (max-width: 768px) {
    .hero {
         position: absolute;
         height: 600px;
         width: 100%;
    
        } 
    }
    

@media (max-width: 992px) {
  .social a {
    font-size: 1.5rem;
  }

  }
@media (max-width: 768px) {
  
  }
  
  

@media (max-width: 576px) {
 
}

/*--- Fixed Background Image --*/

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/











